---
import Layout from "~/layouts/Layout.astro";
import Container from "~/layouts/Container.astro";
import Main from "~/layouts/Main.astro";
import Aside from "~/layouts/Aside.astro";

import HomePage from "~/components/HomePage.astro";
import Hero from "~/components/Hero.astro";

---

<Layout title="Welcome" description="BASE">
  <Hero background="">
    <Fragment slot="title">TITLE</Fragment>
    <Fragment slot="description">DESCRIPTION</Fragment>
  </Hero>
  <Container>
    <Main>
      <HomePage />
    </Main>
    <Aside title="Sidebar">
      Some nice stats here would be great
    </Aside>
  </Container>
</Layout>
