---
---

<section class={`bg-no-repeat bg-cover bg-center bg?-fixed dark:bg-gray-900`}>
    <div class="container grid px-4 py-6 mx-auto lg:gap-8 xl:gap-0 lg:py-8 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-full">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-white custom-text-shadow">
          <slot name="title" />
        </h1>
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl text-white custom-text-shadow">
          <slot name="description" />
        </p>
      </div>
    </div>
</section>
